.header__login-email {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: rgba(255, 255, 255, 1);
    margin: 4px 0 0 0;
    padding: 0;
  }